body h1 {
  font-family: "Roboto", sans-serif;
}

body h2 {
  color: rgb(206, 24, 24);
  font-family: "Roboto", sans-serif;
}
#canvas {
  border: 1px solid rgb(218, 22, 22);
  padding: 15px;
  border-radius: 20px;
  width: 70%;
}
#canvas1 {
  border: 1px solid rgb(55, 0, 252);
  border-radius: 20px;
  margin-top: 15px;
  display: none;
}
