#player span {
  cursor: pointer;
  transition: opacity 0.5s;
  opacity: 1;
}
#player span.hidden {
  opacity: 0;
}
#pc {
  position: absolute;
  top: 150px;
  left: calc(50vw - 40px);
  transform: rotate(180deg);
  transition: top 0.5s;
}
#pc.hidden {
  top: -120px;
}
